body {
    color: white;
    background-image: url("https://i.redd.it/c3uhsgo1vx541.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#heading1 {
    background-color: #75b3b8;
    width: 100%;
    top: 0;
    font-size: 17px;
    color: #03112b;
    font-weight: light;
}

#footer {
    background-color: #02102a;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #fd7f76;
    font-size: large;
}

canvas {
    border: 2px solid #fae580;
    background-color: #033967;
    border-radius: 8px;
    box-shadow: 10px 3px 10px #033967;
}

VIDEO {
    border: 2px solid #fae580;
    box-shadow: -10px 3px 10px #033967;
    border-radius: 10px;
    background-color: #033967;
}
